.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      form(action='/auth/local/signup', method='post')
        .form-horizontal
          h4 Registrati
          hr
          .form-group
            label.control-label.col-md-4(for='username') Username
            .col-md-8
              input#username.form-control.text-box.single-line(name='username', type='text')
          .form-group
            label.control-label.col-md-4(for='email') Email
            .col-md-8
              input#email.form-control.text-box.single-line(name='email', type='email')
          .form-group
            label.control-label.col-md-4(for='password') Password
            .col-md-8
              input#password.form-control.text-box.single-line.password(name='password', type='password')
          .form-group
            label.control-label.col-md-4(for='confirmPassword') Conferma Password
            .col-md-8
              input#confirmPassword.form-control.text-box.single-line.password(name='confirmPassword', type='password')
          .form-group
            .col-md-offset-4.col-md-8
              input.btn.btn-default(type='submit', value='Conferma')
          include ../alerts.pug
          +alerts(alert)
script.
  updateBrowserData('Registrati', '#{url}', #{ajax}, #{back}, #{noUpdate});