.container
    .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            form(data-ajax='true', method='post', data-ajax-mode='replace', data-ajax-target='#body-content', action='/me/recover-password-request')
                .form-horizontal
                    h4 Richiedi recupero password
                    hr
                    .form-group
                        label.col-md-12 Inserisci la tua nuova password
                    .form-group
                        label.control-label.col-md-2(for='userinfo') Email o username:
                        .col-md-10
                            input#userinfo.form-control.text-box.single-line(name='userinfo', type='text')
                    .form-group
                        .col-md-offset-2.col-md-10
                            input.btn.btn-default(type='submit', value='Conferma')
                    include ../alerts.pug
                    +alerts(alert)
script.
    updateBrowserData('Richiedi recupero password', '#{url}', #{ajax}, #{back}, #{noUpdate});