.container
    .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            form(data-ajax='true', method='post', data-ajax-mode='replace', data-ajax-target='#body-content', action='/me/recover-password')
                .form-horizontal
                    h4 Recupera password
                    hr
                    .form-group
                        label.col-md-12 Inserisci il tuo indirizzo email o il tuo username
                        label.col-md-12 Riceverai via mail le istruzioni per recuperare la password
                    .form-group
                        label.control-label.col-md-4(for='password') Password
                        .col-md-8
                            input#password.form-control.text-box.single-line.password(name='password', type='password')
                    .form-group
                        label.control-label.col-md-4(for='confirmPassword') Conferma Password
                        .col-md-8
                            input#confirmPassword.form-control.text-box.single-line.password(name='confirmPassword', type='password')
                    .form-group
                        .col-md-offset-2.col-md-10
                            input.btn.btn-default(type='submit', value='Conferma')
                    include ../alerts.pug
                    +alerts(alert)
script.
    updateBrowserData('Recupera password', '#{url}', #{ajax}, #{back}, #{noUpdate});