doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - SimeoneVilardo
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css', rel='stylesheet')
    link(href='/stylesheets/simeonevilardoweb.css', rel='stylesheet')
    script(src='/javascripts/scripts.js')
    script(src='/javascripts/ckeditor/ckeditor.js')
  body
    nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          |  
          a.navbar-brand(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/') Simeone Vilardo
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if !currentUser
              li
                a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/login') Accedi
              li
                a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/signup') Registrati
            else
              li
                a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/profile') #{currentUser.username}
                if currentUser.role >= roles.admin.code
                  li
                    a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/management/posts') Gestisci Blog
                  li
                    a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/management/users') Gestisci Utenti
              li
                a(href='/logout') Esci
            li
              a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/info') Informazioni
            li
              a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/contacts') Contattami
            li
              a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/blog/newpost') Scrivi Articolo
    header.intro-header(style="background-image: url('/images/home-bg.jpg')")
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .site-heading
              h1 Simeone Vilardo
              hr.small
              |  
              span.subheading Code and Stuff
    #body-content
      div !{partialView}
    hr
    footer
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            ul.list-inline.text-center
              li
                a(href='https://github.com/SimeoneVilardo/SimeoneVilardoWeb')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-github.fa-stack-1x.fa-inverse
            p.copyright.text-muted Copyright &copy; Simeone Vilardo 2017