doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet/less', type='text/css', href='./style.less')
    body
        h1.title.no-url Recupero password
        p Ciao #{username},
        p Usa il bottone qui sotto per resettare la password
        a.button(href=url) Clicca qui